<!-- social media icons -->
<div class="icons">
  <a href="https://www.facebook.com/udundi/" target="_blank" style="text-decoration:none;">
    <div class="facebook py-2 px-3">
      <img src="../assets/Facebook.svg" alt="facebook">
    </div>
  </a>
  <a href="https://www.instagram.com/udundi/?hl=en" target="_blank" style="text-decoration:none;">
    <div class="instagram py-2 px-3">
      <img src="../assets/Instagram.svg" alt="instagram">
    </div>
  </a>
</div>
<!-- end-->
<div class="container">
  <!-- title container holds everything -->
  <div class="title-container">
    <div class="title title-fade" *ngIf="animate">Explore</div>
    <div class="title" *ngIf="!animate">Explore</div>
    <!-- "plus" is the div that transforms into a bigger div that is hiding behind the actual plus-image below (this is the the document that opens up)-->
    <div class="plus">
      <div class="block" [ngClass]="{'expand-block' : animate}">
        <div class="message-container" *ngIf="message">
          <!-- "x" icon to close -->
          <div class="message" style="color:rgb(97,24,24); float:right; font-size:27px;">
            <i class="fa fa-close" style="cursor:pointer;" (click)="shrink()"></i>
          </div>
          <!-- end -->
          <div class="message title-block">
            Explore
          </div>
          <hr class="message">
          <div class="message" style="color: black;">
            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sapien faucibus et molestie. <span style="color:purple">Udundi is the best. You better believe it!</span> Thank you for your consideration.
            </p>
            <div class="py-2 py-lg-4">
              <button class="button-5">Read More</button>
            </div>
          </div>
        </div>
      </div>
      <img class="plus-image" (click)="expand()" *ngIf="!animate" src="../assets/Plus.svg" alt="plus">
      <div class="details" *ngIf="!animate">More Details</div>
    </div>
    <!-- end -->
  </div>
  <!-- end -->
</div>